.ad-flow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffefc5;
  padding: 100px 0px;
}

.ad-flow * {
  margin: 0px;
  padding: 0px;
}

.card-ad-container {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: calc(100% * (1 / 6));
}
.card-ad-container .card-ad {
  width: calc((100% - 0px) / 1);
}

.card-ad {
  display: flex !important;
  flex-direction: column;
  width: 350px;

  background: #fff;
  border-radius: 6px;
}
.card-ad.card-ad-row {
  flex-direction: row;
  width: auto;
  gap: 20px;
}
.card-ad.card-ad-row .card-ad-img {
  width: 300px;
  /* height: 260px; */
}
.card-ad .card-ad-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.card-ad-img {
  width: 100%;
  /* height: 200px; */
  object-fit: cover;
  border-radius: 6px;
}
.card-ad-location {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card-ad-title {
  font-size: 24px;
}
.card-ad-location-icon,
.card-ad-star-icon {
  width: 20px;
  height: 20px;
}
.card-ad-review {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-ad-tag-list {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.card-ad-tag-bubble {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2.5px 10px;
  color: #595959;
  background-color: #fff;
  border-radius: 6px;
}
.card-ad-available {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 10px;
  background: #ededed;
  color: #595959;
}
.card-ad-available-text {
  font-size: 18px;
}
.card-ad-available-date {
  font-size: 18px;
}
.card-ad-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  padding: 2.5px 10px;
  background: #fadb14;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
}
.card-ad-button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

/* Star CSS */
.star-rating {
  display: flex;
  direction: ltr;
}

.star-rating .fa-star {
  font-size: 1.5rem;
  color: gray;
  position: relative;
}

.star-rating .full {
  color: gold;
}

.star-rating .half {
  background: linear-gradient(90deg, gold 50%, gray 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
