---
import '../../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search List</title>
</head>
<body>
  <section>
      <div class="flow-box"></div>
  </section>
  <script src="js/flow-engine.js" defer></script>
</body>
</html>