---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ads Engine with Astro</title>
  <!-- Link to the script -->
   <!-- <script src="http://localhost:4321/js/ad-script-type-one.js" defer></script> -->
</head>
<body>
  <h1>Welcome to My Website</h1>
  
  <section>
    <h2>Sponsored Ad</h2>
    <div class="ad-flow" data-type="one" ></div>
    <div class="ad-flow" data-type="two"></div>
    <div class="ad-flow" data-type="three"></div>
    <!-- <AdComponent clientId="ca-pub-XXXXXXXXXXXXXXXX" slot="1234567890" client:load /> -->
    <!-- <Ad ad={selectedAd} onImpression={trackImpression} onClick={trackClick} client:load /> -->
  </section>
  <script src="js/ads-engine.js" defer></script>

</body>
</html>
