---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ads Engine with Astro</title>
</head>
<body>
  <h1 style="text-align: center;">Welcome, Take a look at 3 types of Ads</h1>
  <section>
    <div>
      <h2 style="text-align: center;">Type A:</h2>
      <div class="ad-flow" data-type="one">Ad Content for Type A</div>
    </div>
    <div>
      <h2 style="text-align: center;">Type B:</h2>
      <div class="ad-flow" data-type="two">Ad Content for Type B</div>
    </div>
    <div>
      <h2 style="text-align: center;">Type C:</h2>
      <div class="ad-flow" data-type="three">Ad Content for Type C</div>
    </div>
  </section>
  <script src="js/ad-script-type-one.js" defer></script>
</body>
</html>