---
import '../../styles/global.css';
import '../../../public/css/search.css';

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search Ads Engine with Astro</title>
  <!-- Link to the script -->
   <!-- <script src="http://localhost:4321/js/ad-script-type-one.js" defer></script> -->
</head>
<body>
  <div id="flow-search"></div>
  <script src="js/search.js" defer></script>

</body>
</html>
